#vocab-article {
	padding: 10px 30px 30px;
	background: #fff;
}

/* fb comment */ 
.fb-comments-section {
	width: 100%;
    display: block;
    float: left;
    margin-top: 30px;
}

.fb-comments-section .title {
	margin-top: 0;
    font-size: 32px;
    /*color: #F77020;*/
    color: #C5E946;
}

.fb-comments-section #fb-comments {
	background: #E0DECE;
    padding: 15px 30px;
    border-radius: 10px;
}

a.bottom-back-link {
	position: absolute; 
	bottom: 10px; 
	left: 45%;
	font-size: 14px;
}



.vocab-playfield {
	width: 1100px; 
	min-height: 450px;
	
	padding: 20px 0px 45px;
	margin: 44px auto;
	
	color: #fff;
	background: #272645;
	border-radius: 10px;
	
	text-align: center;
	
	position: relative;
}

.vocab-playfield nav {
    background: #fff;
    color: #333;
    padding: 5px 10px;
    margin: -20px -30px 10px;
    font-size: 24px;
    letter-spacing: 1px;
}

.vocab-playfield  ul {
	list-style: none; 
}

.vocab-playfield  ul li {
	display: block;
}

.vocab-playfield .audio-icon:hover {
	cursor: pointer;
}

/* Nav */ 
.vocab-playfield ul.topics-nav {
    margin: -71px 0 0;	
}

.vocab-playfield ul.topics-nav li {
	display: inline-block;
    font-size: 24px;
    
    background: #fff;
    color: #2275D1;
}

.vocab-playfield ul.topics-nav li.current {
	background: #2275D1; 
	color: #fff;
	border-radius: 0;
}

.vocab-guide {
	display: block;
    max-width: 450px;
    margin: 0 auto 30px;
	background: #f1f1f1;
    padding: 10px 15px;
    border-radius: 5px;
    color: #333;
    margin-bottom: 30px;
}

.topics-wrapper {
	display: none;
	background: #2275D1; 
	border-radius: 10px 10px 20px 20px;
	padding: 10px 0;
}

.topics-wrapper .login-required-wrapper {
	padding: 30px 0;
}

.topics-wrapper .login-required-wrapper a {
	color: #fff; 
	text-decoration: underline;
}

ul.topics-listing li {
    display: inline-block;
    width: 19%;
    margin: 0 0 20px;
    padding: 0 5px;
    vertical-align: top;
}

ul.topics-listing li:hover {
	cursor: pointer;
}

.topic-wrapper .topic {
	max-height: 60px;
	font-size: 24px; 
}

.topic-wrapper img {
	max-width: 100px;
}

/* words in topic listing page */ 
.access-control-wrapper {
	max-width: 640px;
    margin: 0 auto;
    
	padding: 10px 20px;
    background: #fff;
    color: #333;
    border-radius: 5px;
}
.access-control-wrapper a {
	color: inherit;
	text-decoration: underline;
}

.topic-wrapper {
	margin-top: 30px;
}

img.topic-image {
	max-width: 150px;
}
.topic-name, .topic-image {
	display: inline-block; 
}
.topic-name {
	font-size: 48px;
	color: #2DC0E3; 
	text-transform: uppercase;
	font-weight: bold;
}

.word-listing-wrapper {
	width: 80%; 
	margin: 30px auto;
}

.words-in-topic {
	list-style: none; 
	width: 33%; 
	float: left;
}

.words-in-topic li {
	margin-bottom: 30px;
}

.words-in-topic .word {
	color: #FFC000;
	text-transform: uppercase;
    font-weight: bold;
    font-size: 32px;
}

.words-in-topic .word:hover {
	text-decoration: underline; 
	cursor: pointer;
}

.words-in-topic .word.learned-word {
	background: #fff;
	color: #0098c3;
	
    padding: 7px 10px;
    border-radius: 10px; 
}

    
.words-in-topic .learned-label {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px; 
	
    font-size: 18px;
    text-transform: capitalize;
}

/* word intro */

/* Next button */ 
.next-word-button {
	display: block;
	
    position: fixed;
    top: 40%;
    right: 12px;
    
    width: 80px;
    height: 110px;
    
    padding: 15px;
    text-align: center;
    cursor: pointer;
    text-align: center;
    z-index: 100;
    
    color: #fff;
    border: 1px solid #aaa;
    background-color: #c6c1c1;
    border-color: #CDCCCB;    
    border-radius: 6.2px;
    background-image: url('/static/ToeicTests/images/button_lines_background.png');
    background-position: center center;
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,0.05) inset;
    box-shadow: 0 1px 0 0 rgba(255,255,255,0.2) inset,0 -1px 0 0 rgba(0,0,0,0.05) inset;
    
    text-shadow: 1px 1px 0 #777777;
    
    -webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    transition: all 0s ease-out;
}

.next-word-button:hover{
	color: #ebebeb; 
	background-color: #FFC800; /*#FFC000; /*#F77020; /*#7ED615; /*#2275D1; */ 
    border-color: #FB843C;
    
    /*text-shadow: 1px 1px 0 #7ED615; /* #2275D1; */
    
    background-position: 0 -15px;
}

.next-word-button .next-icon {
	display: block;
	width: 100%;
	height: 100%;
	
	position: absolute;
    top: 20px;
  
    cursor: pointer;
    text-align: center;
    
	background-image: url('/static/ToeicTests/images/arrow_next_icon.png');
    background-position: 0 -55px;
    background-size: 40px 105px;
    background-repeat: no-repeat;
}

.next-word-button .next-label {
	width: 100%;
    position: absolute;
    left: 0;
    bottom: 7px;
    text-align: center;
    font-weight: bold;
    color: white;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.word-intro, 
.word-family-patterns {
	float: left; 
	padding: 0 15px;
}
.word-intro {
	margin: 0;
	width: 45%;
}
.word-family-patterns {
	width: 55%;
}

.word-intro .word {
	text-transform: uppercase;
    color: #FFC000;
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2px;
    margin-bottom: 0;
    word-wrap: break-word;
}

.word-intro .pos {
	text-transform: lowercase;
    font-size: 40px;
}
.word-intro .audio-icon.main-audio {
    display: inline-block; 
    max-width: 40px;
}

.word-intro .audio-info-wrapper li {
	display: inline-block;
	padding: 0 3px;
}

.word-intro .fb-like-wrapper {
    position: relative;
    top: -4px;
}

.word-intro .google-plus-wrapper {
    position: relative;
    top: 4px;
}

.word-intro .fb-comments-count-wrapper {
	color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.word-intro .fb-comments-count-wrapper:hover {
	text-decoration: underline;
}

.word-intro .fb-comments-count-wrapper .fb-comments-count {
	display: inline-block;
    background: #fff;
    padding: 2px 8px;
    color: #4965B5;
    font-weight: bold;
}


.word-intro .meaning {
	max-width: 100%;
    margin: 20px 0;
	font-size: 40px;
}

.word-intro .meaning-image {
	max-height: 300px;
	max-width: 100%; 
    min-width: inherit;
}



    
/* word family & patterns */ 
.word-family-patterns {
	margin-top: 20px; 
}

.word-family-patterns .word-family, 
.word-family-patterns .usage-patterns {
	width: 100%;
	margin-bottom: 30px;
	color: #333;
	background: #E0DECE;
	border-radius: 10px;
}

.word-family-patterns .heading-wrapper {
	background: #FFC000;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.heading-wrapper .heading {
    margin: 0 10px 0;
    padding: 10px 0;
    font-size: 32px;
    display: inline-block;
}

.word-family .heading {
    color: #316CB2;
}

.usage-patterns .heading {
	color: #316CB2;
}

.word-family .word-wrapper, 
.usage-patterns .pattern-wrapper, 
.no-usage-pattern-wrapper, 
.no-word-family-wrapper {
	padding: 5px;
    margin: 0;
}

.word-family .word-wrapper.current,
.usage-patterns .pattern-wrapper.current {
	background: #ecf6f2;	
	border-style: inset;
    border-color: #d2e3ed;
    border-width: 3px;
}



.word-family .word-wrapper li, 
.usage-patterns .pattern-wrapper li {
	padding: 5px;
	margin: 0;
}

.word-family .word-wrapper:hover, 
.usage-patterns .pattern-wrapper:hover {
	cursor: pointer;
}

.word-wrapper .audio-wrapper, 
.pattern-wrapper .audio-wrapper{
	width: 10%; 
	float: left;
}

.word-wrapper .audio-icon, 
.pattern-wrapper .audio-icon {
	width: 40px;
}

.word-wrapper .word, 
.word-wrapper .meaning,
.word-wrapper .view-example, 
.pattern-wrapper .pattern, 
.pattern-wrapper .meaning, 
.pattern-wrapper .view-example, 
.word-wrapper .view-example { 
	float: left;
}

.word-wrapper .word {
	width: 35%;
}
.word-wrapper .meaning {
	width: 40%;
}

.pattern-wrapper .view-example,
.word-wrapper .view-example {
	width: 15%;
	text-decoration: underline;
}

/* for patterns, there is no audio for pattern */
.pattern-wrapper .pattern {
	width: 45%;
} 
.pattern-wrapper .meaning {
	width: 40%;
}



.word-wrapper .word, 
.pattern-wrapper .pattern {
	font-size: 24px;
	font-weight: bold;
}


.examples .example-wrapper {
	display: none;
	
    color: #333;
    background: #C5E946; /*#0F0B19;*/
    padding: 10px 15px;
    
    font-size: 28px;
    line-height: 42px;
    
    border: 5px solid #57576A;
    border-radius: 10px;
    
}

.example-wrapper .audio-icon {
	display: none;
	float: left;
	max-width: 120px;
}

.example-wrapper .content {
	color: #333;
	font-size: 32px;
    line-height: 40px;
}

.example-wrapper .content:hover {
	cursor: pointer;
}

.example-wrapper .content .wf {
	font-weight: bold;
}
.example-wrapper .content .up {
	font-weight: bold; 
	font-style: italic;
}

.example-wrapper .trans {
    margin-top: 15px;
    font-size: 24px;
    line-height: 32px;
    font-style: italic;
}


/* Review tests */ 
#test {
	display: none;
}

.test-title {
	line-height: 45px;
	margin-top: 60px;
}

.start-test {
	margin: 60px auto 30px;
    font-size: 32px;
    width: auto;
    max-width: 500px;
}

.ex-wrapper { 
	display: none; /*js will control the display */
	margin-top: 30px;
}

.ex-wrapper .ex-instruction {
	color: #FFC000;
}


.ex-wrapper .correct-answer,
.ex-wrapper .incorrect-answer {
    min-width: 200px;
    min-height: 51px;
}

.ex-wrapper .correct-answer {
	background-color: #2882e7;
	text-transform: uppercase;
	
	background: #FFC000;
    color: #fff;
	
	/*
	font-size: 300%;
	line-height: 100%;
	padding: 20px 40px 10px;*/
}

.ex-wrapper .options-wrapper .incorrect-answer {
	background-color: #e10;
}

.ex-wrapper .options-wrapper {
	max-width: 70%;
    margin: 0 auto;
}

.ex-wrapper .options-wrapper li {
	display: inline-block;
	font-size: 32px;
	/*
    background: #FFC000;*/ 
    margin: 10px;
    border-radius: 5px;
}

.ex-wrapper .options-wrapper li:hover {
	cursor: pointer;
}

/* test result */ 
#test-result {
	display: none;
}

#test-result #test-missed, 
#test-result #test-passed {
	display: none;
	margin-top: 60px;
}

#test-result #wrong-answers-wrapper {
	display: none;
	margin-top: 30px;
	color: #FFC000;
}

#test-result .wrong-answers {
    max-width: 70%;
    margin: 0 auto;	
}

#test-result .wrong-answers li {
	display: inline-block; 
	font-size: 32px;
	margin-right: 20px;
}

#test-result .wrong-answers li a {
	color: #FFC000;
}

.review-words-btn, 
.continue-learning-btn {
    max-width: 400px;
    margin: 30px auto;
    font-size: 24px;	
}




/* meaning-word ex */
.meaning-word-ex .meaning {
	margin: 30px 0 45px;
	font-size: 40px;
	text-align: center;
}

.meaning-word-ex .words-wrapper li:hover {
	cursor: pointer;
}

.meaning-word-ex .pos {
	display: block;
    font-size: 60%;
}


/* audio word detection */ 
.audio-word-detection-ex .audio-wrapper {
	margin: 30px auto;
}

.audio-word-detection-ex .audio-icon {
    max-width: 100px;	
}

.audio-word-detection-ex .audio-text {
    margin: 30px;
    font-size: 40px;
}

.audio-word-detection-ex .audio-text .ans-word{
	color: #FFC000;
	text-transform: uppercase;
}



@media (max-width: 980px) {
	.vocab-playfield, 
	.fb-comments-section {
		width: 100%; 
		float: none;
		margin-top: 0;
	}
	
	.fb-comments-section #fb-comments {
		padding: 0;
		background: none;
	}
	
	.word-listing-wrapper {
		width: 100%;
	}
		
	.word-intro .audio-icon.main-audio {
		left: 5%;
	}
	
	.word-intro .meaning {
		max-width: 80%;
	}
	
	.word-family-patterns .usage-patterns,
	.word-family-patterns .word-family {
		width: 100%; 
		float: none; 
	}
	
	.word-family-patterns .word-family {
		margin-top: 30px;
	}
	
	.pattern-wrapper .pattern, 
	.pattern-wrapper .meaning {
		width: 100%;
	}
	
	.word-wrapper .audio-wrapper, 
	.pattern-wrapper .audio-wrapper {
		width: 30%; 
	}
	.word-wrapper .word {
		width: 70%;
		text-align: left;
	}
	.word-wrapper .meaning, 
	.pattern-wrapper .view-example,
	.word-wrapper .view-example {
		width: 100%;
	}
	
	.example-wrapper .audio-icon  {
		float: none;
	}
	
}


@media (max-width: 767px) {
	#vocab-article {
		padding: 10px 0 30px;
	}
	
	.vocab-playfield ul.topics-nav {
		margin: 0;
	}
	
	ul.topics-listing li {
		width: 48%;
	}
	
	.words-in-topic {
		width: 100%;
    	float: none;
    	padding: 0 10px;
    	text-align: left;	
	}
		
	.word-intro, 
	.word-family-patterns {
		width: 100%;
		float: none;
	}
		
	.word-intro .audio-info-wrapper li {
		padding: 0 10px; 
	}
	
	.word-intro .meaning-image {
		width: 100%; 
		min-width: initial;
	}
	
	.word-intro .audio-icon.main-audio {
		position: relative;
    	margin-bottom: 30px;
    	max-width: 60px;
	}
	
	.word-intro .meaning {
		max-width: 100%;
    	font-size: 32px;
	}
	
	/* Usage patterns & word family */ 
	.word-family-patterns {
		margin-top: 60px; 
	}	
	.word-family .word-wrapper, 
	.usage-patterns .pattern-wrapper, 
	.no-usage-pattern-wrapper, 
	.no-word-family-wrapper {
		max-height: none;
		margin-bottom: 10px;
	}
	
	.heading-wrapper .heading {
		font-size: 28px;
	}
	.heading-wrapper .click-to-view {
		display: block;
	}
	
	.all-usage-patterns-wrapper {
		padding-bottom: 10px;
	}
		
}

@media (max-width: 400px) {
}




